* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
.blue {
    position: relative;
    width: 100%;
}
nav {
    position: absolute;
    top: 0px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    justify-self: center;
    align-items: center;
    height: 10vh;
}
.kz {
    width: 100px;
    height: 60px;
}
.left {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
a {
    color: black;
    text-decoration: none;
}
button {
    font-size: 17px;
    background-color:white;
    border-radius: 10px;
    padding: 5px 20px;
   border-style: none;
}
.div2 {
    position: absolute;
    top: 15vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    height: 30vh;
}
.back {
    position: relative;
    top: 200px;
}
.man2 {
    position: absolute;
    top: 0px;
}